.canvasjs-chart-canvas {
  z-index: 1;
}

.watermark-cover {
  background-color: white;
  padding: 35px;
  position: relative;
  top: 16px;
  z-index: 1;
}

/* #32373A; dark theme background */


/* #56c03a
#beffb1

#fe9998
#df5253
#cccccc */