.feed-container {
  margin-top: 25px;
}

.feed-icons {
  float: right;
}

.feed-icons--add-feed {
  position: relative;
  bottom: 15px;
}

.feed-icons:hover {
  cursor: pointer;
}

.filter-icons {
  font-size: 30px !important;
}


.rss-icon {
  float: left;
  position: relative;
  top: -4px;
}

.feed-meta {
  line-height: 1.5em !important;
}