.feed-container {
  margin-top: 25px;
}

.feed-icons {
  float: right;
}

.feed-icons:hover {
  cursor: pointer;
}

.filter-icons {
  font-size: 30px !important;
}

.rss-icon {
  float: left;
  position: relative;
  top: -4px;
}