.home-landing--segment {
  height: 400px;
}

.home-landing--text {
  margin-top: 100px;
}

.home-landing--text h2 {
  margin-bottom: 50px;
}

.home-landing--icons__rss {
  position: relative;
  left: 8px;
}

pre {
  text-align: left;
}

.filter-segment {
  width: fit-content !important;
  text-align: left;
  margin: 0 auto !important;
  font-size: 17px;
}

.bottom-section {
  padding-bottom: 10% !important;
}

.home-header {
  font-size: 45px !important;
}